<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tutorial Ninja Suite">
    <listeners>
        <listener class-name="org.project.qa.listeners.MyListeners"/>
    </listeners>
    <test verbose="2" preserve-order="true"  name="Automation Practice">
        <classes>
            <class name="org.project.qa.testcases.LoginTest"/>
            <class name="org.project.qa.testcases.RegisterTest"/>
            <class name="org.project.qa.testcases.SearchTest"/>
        </classes>
    </test>
</suite>